/* Universal selector props across all browsers */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: Hack, monospace;
  background-color: #ececec;
  color: rgb(78, 78, 78);
  height: 100%;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
