@font-face {
    font-family: "Myriad Pro Light";
    src: url("~@/assets/fonts/MyriadPro-Light.ttf") format("truetype");
    src: url("~@/assets/fonts/MyriadPro-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("~@/assets/fonts/MyriadPro-Regular.ttf") format("truetype");
    src: url("~@/assets/fonts/MyriadPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

