$colors: (
    color-primary-light: #505050,
    color-primary: #2c2c2c,
    color-primary-dark: #000000,
    color-font: #D6D4D2
);

$fonts: (
    myriad-reg: "Myriad Pro Regular",
    myriad-light: "Myriad Pro Light",
)
